@font-face {
    font-family: 'GT Sectra Display';
    src: url('fonts/GT\ SECTRA\ DISPLAY\ BOLD.ttf');
}

@font-face {
    font-family: 'Accord Alternate Light';
    src: url('fonts/ACCORDALTERNATE-EXTRALIGHTIT.ttf');
}

@font-face {
    font-family: 'Accord Alternate';
    src: url('fonts/ACCORDALTERNATE-LIGHT.ttf');
}

body {
    background-color: #000E4E;
    overflow-x: hidden;
    padding-right: 10px;
}

h1 {
    color: #fff;
    text-align: left;
    font-family: 'GT Sectra Display';
    font-size: 3em;
    margin-left: 20px;
    padding-top: 30px;
}

h4 {
    color: #00B7F1;
    font-size: 2em;
    font-family: 'GT Sectra Display';
}

p, td {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Accord Alternate';
}

td {
    padding-bottom: 10px;
}

button {
    color: #fff;
    background-color: #00B7F1;
    padding: 10px 20px 10px 20px;
    font-family: 'Accord Alternate Light';
}

#sidebar {
    height: 100vh;
    float: left;
    flex: 1;
    top: 0;
    position: sticky;
}

#main {
    justify-content: center;
    padding: 0px 10px 0px 0px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#rsvp {
    margin-bottom:10px;
    margin-left:20px;
    margin-top:20px;
    transition: 0.5s;
}

#rsvpTop {
    position:fixed;
    top:0;
    right:0;
    margin-top: 20px;
    margin-right: 20px;
    transition: 0.5s;
    z-index: 1000;
}

#calBtn {
    margin-bottom:10px;
    margin-left:20px;
    margin-top:20px;
    background: transparent;
    color: white;
    border: 1px solid white;
    transition: 0.5s;
    font-family: 'Accord Alternate Light';
}

#calBtn:hover {
    background: white;
    border: 1px solid white;
    color: #000E4E;
}

#map {
    z-index: -100;
    position: fixed;
    width: 100vw;
}

.hosted {
    color: #fff;
    font-family: 'Accord Alternate Light';
    font-size: 1em;
    font-style: italic;
    color: #CBCBCB;
}

.by {
    color: #fff;
    font-weight: bold;
    font-size: 1.5em;
}

.infoDiv {
    float: left;
    width: 40vw;
}

.time {
    padding-right: 20px;
}

.smallText {
    color: #CBCBCB;
    font-style: italic;
    font-size: 1em;
    margin-left: 20px;
}

.panelDiv {
    text-align: center;
    width: 200px;
}

.panelImg {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: 20px;
    object-fit: cover;
}

.panelText {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
}

.panelPosition {
    font-style: italic;
    font-size: 0.8em;
}

@media screen and (max-width: 635px) {
  #pic {
    height: 25vh;
    float: right; 
  }
}

@media screen and (min-width: 635px) {
  #pic {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 25vh;
  }
}

@media screen and (max-width: 400px) {
    .logos {
        width: 100%;
        margin-top: 10px;
    }
}

@media screen and (min-width: 400px) {
    .logos {
        height: 50px;
        margin: 10px;
    }
}